src/cellml_1_2.xsd

<?xml version='1.0'?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:cellml="http://www.cellml.org/cellml/1.2#"
        elementFormDefault="qualified"
        targetNamespace="http://www.cellml.org/cellml/1.2#">

  <element name="model" type="cellml:model">
  </element>
  
  <complexType name="model">
    <attribute name="name" type="cellml:cellMLIdentifier" />
    <anyAttribute namespace="##other" processContents="lax"/>
  </complexType>

  <simpleType name="cellMLIdentifier">
    <restriction base="string">
      <pattern value="[a-z|A-Z|_]*[a-z|A-Z][a-z|A-Z|0-9|_]*"/>
    </restriction>
  </simpleType>

</schema>
